$light-green:             #7bb9b9;
$drk-light-green:         #76b7b7;
$white-color:             #ffffff;
$light-white-color:       rgba(255, 255, 255, 0.9);
$banner-brdr-color:       rgba(255, 255, 255, 0.5);
$red-color:               #d35b49;
$light-red-color:         #df5842;
$dark-red-color:          #de5841;
$banner-bg-color:         rgba(70, 70, 70, 0.3);
$green-text-color:        #7acbcb;
$gray-text-color:         #bdbebe;
$lightgray-color:         #96989b;
$yello-color:             #fdd15a;
$family-bg-color:         #b8b8b8;
$polygon-brdr-color:      #e7eaea;
$polygon-brdr-color:      #e7eaea;
$video-font-color:        #888a8d;
$chs-lng-color:           #dfe0e1;
$prtner-logo-bg:          #fbfbfb;
$blog-bg:                 #f9f9f9;
$footer-bg:               #6a6d72;
$footer-brdr-color:       #b2b3b6;
$inner-page-color:        #fafafa;
$submit-btn-color:        #75b8b8;
$contact-brd:             #cccdcf;
$search-bg:               #f6f7f7;
$tag-border:              #d7d7d7;
$link-hover:              #f7f8f8;
$orng-brd:                #edaba3;
$green-brd:               #98caca;
$row-hover:               #fcfcfc;
$light-yellow-bg:         #fffefd;
$yellow-brdr:             #fee8ac;
$yellow-text:             #fec01a;
$line-color:              #cacbcd;
$black-rgba:              rgba(79,80,84,0.4);
$divider-line:            #abd2d2;
$footer-block-res:        #717479;
$footer-block-brd:        #8c8f93;
$error-brdr:              #e89084;
$video-brd:               #eaeaeb;
$call-us:                 #7c7e80;
$note-msg:                #a9acae;