$light-green:             #7bb9b9;
$drk-light-green:         #76b7b7;
$white-color:             #ffffff;
$light-white-color:       rgba(255, 255, 255, 0.9);
$banner-brdr-color:       rgba(255, 255, 255, 0.5);
$red-color:               #d35b49;
$light-red-color:         #df5842;
$dark-red-color:          #de5841;
$banner-bg-color:         rgba(70, 70, 70, 0.3);
$green-text-color:        #7acbcb;
$gray-text-color:         #bdbebe;
$lightgray-color:         #96989b;
$yello-color:             #fdd15a;
$family-bg-color:         #b8b8b8;
$polygon-brdr-color:      #e7eaea;
$video-font-color:        #888a8d;
$chs-lng-color:           #dfe0e1;
$prtner-logo-bg:          #fbfbfb;
$blog-bg:                 #f9f9f9;