/* Transition effect */ 

@mixin transition-effect {
    -webkit-transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    transition: ease 0.3s all;
}

@mixin transition-right {
    -webkit-transition: ease 0.3s right 0.3s;
    -moz-transition: ease 0.3s right 0.3s;
    -ms-transition: ease 0.3s right 0.3s;
    transition: ease 0.3s right 0.3s;
}

@mixin transition-height {
    -webkit-transition: height 0.4s ease 0s;
    -moz-transition: height 0.4s ease 0s;
    -ms-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
}



/* Margin */

@mixin margin($top, $right, $bottom, $left) {
     margin: $top $right $bottom $left;
}

/* Transform Rotate */

@mixin rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Transform Translate */

@mixin translareY {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin translareX {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin translare-none {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}

@mixin trans-orignl {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}


/* Box shadow */

@mixin box-shadow {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
}

@mixin box-shadow-menu {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);    
}

@mixin box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    -ms-box-shadow: none;
    box-shadow: none;    
}

@mixin border-radius {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

@mixin border-radius-none {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

/* Opacity */

@mixin transition-opacity {
    -webkit-transition: opacity 0.2s ease 0.4s;
    -moz-transition: opacity 0.2s ease 0.4s;
    -ms-transition: opacity 0.2s ease 0.4s;
    transition: opacity 0.2s ease 0.4s;
}


/* Transform scale */

@mixin transition-scale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}