/* Direction */

$left:     left;
$right:    right;


/* Font family */

$roboto-slab:     'Roboto Slab', serif;
$noto-sans:       'Noto Sans', sans-serif;
$noto-ui-regular: 'NotoSansUI-Regular';
$noto-ui-bold:    'NotoSansUI-Bold';


/* Font size */

$xxlarge-text:       80px;
$xlarge-text:        64px;
$exlarge-text:       52px;
$large-text:         48px;
$md-large-text:      42px;
$xl-large-text:      32px;
$xllarge-text:       28px;
$mlarge-text:        26px;
$xl-medium-text:     25px;
$medium-text:        24px;
$xmedium-text:       21px;
$small-text:         18px;
$xsmall-text:        16px;
$sxsmall-text:       15px;
$xxsmall-text:       17px;
$xxxsmall-text:      14px;
$s-small-text:       13px;
$xs-small-text:      12px;
$xxs-small-text:      11px;



/* Font Weight */

$light:        300;
$normal:       400;
$bold:         700;