/* Direction */

$left:     left;
$right:    right;


/* Font family */

$roboto-slab:     'Roboto Slab', serif;
$noto-sans:       'Noto Sans', sans-serif;


/* Font size */

$xlarge-text:        64px;
$large-text:         48px;
$medium-text:        24px;
$xmedium-text:       21px;
$small-text:         18px;
$xsmall-text:        16px;
$xxsmall-text:       17px;
$xxxsmall-text:      14px;


/* Font Weight */

$light:        300;
$normal:       400;
$bold:         700;