/*Default menu styles*/

.menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 33px;
    font-size: 22px;
    padding: 53px 0;
}
.menu-icon .menu-box {
    width: 58px;
    height: 38px;
    margin-right: 20px;
    padding: 5px;
    position: absolute;
    right: 112px;
    top: 31px;
}
.menu-icon .menu-box span {
    width: 100%;
    height: 3px;
    margin-bottom: 13px;
    background: #a7a9ac;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(12px);
    -webkit-transform: rotate(45deg) translateY(8px) translateX(12px);
    background: #d35b49;
}
.menu-icon.hover:not(.active) span:nth-child(1) {
    transform: rotate(90deg) translateX(16px);
    -webkit-transform: rotate(90deg) translateX(16px);
}
.menu-icon.active span:nth-child(2) {
    opacity: 0;
}
.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(14px);
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(14px);
    background: #d35b49;
}
.menu-icon.hover:not(.active) span:nth-child(3) {
    transform: rotate(-90deg) translateX(15px);
    -webkit-transform: rotate(-90deg)  translateX(15px);
}
.enumenu_ul .caret {
    color: #fff;
    margin-left: 7px;
}
.enumenu_ul {
    padding: 0px;
    list-style: none;
}
.enumenu_ul > li {
    display: inline-block;
    vertical-align: top;
    padding: 32px 0;
    position: relative
}
li.dropdown > a, li.mega-menu-list > a{
    font-family: 'NotoSansUI-Regular';
}
.enumenu_ul > li:last-child a {
/*    padding-right: 0;*/
}
.enumenu_ul li a {
    font-size: 16px;
    color: #7c7e80;
    padding: 32px 24px;
}
.enumenu_ul > li > a:hover,
.enumenu_ul > li.active > a {
    /*background: #282828 none repeat scroll 0 0;*/
    color: #7bb9b9;
    background: #fff;
}
.enumenu_ul > li ul {
    display: none
}
.enumenu_ul ul li {
    width: 100%;
    margin: 0;
    list-style: none;
    position: relative;
}
.enumenu_ul.desk ul {
    top: 100%;
    z-index: 999;
    list-style: none;
    left: 0px;
    background: #fff;
    position: absolute;
    min-width: 385px;
    padding-top: 28px;
    padding-left: 30px;
    padding-bottom: 33px;
}
/*Sub menu styles*/

.menu.submenu-ul-level1 li a {
    background: rgba(31, 26, 107, 0.8);
    color: #fff;
    padding-left: 90px;
}
.enumenu_ul.desk li:hover > ul {
    display: block;
    opacity: 1;
}
/*.enumenu_ul.desk .sb-menu .sb-menu {
    left: 100%;
    top: 0;
}*/
.enumenu_ul.desk ul li a {
    padding: 10px 0 5px 0;
    display: block;
    color: #888a8d;
    font-size: 16px;
    text-align: left;
    display: table;
    width: auto;
}
.enumenu_ul.desk ul li:hover > a {
    background: transparent;
    color: #494a4c;
}
.enumenu_ul .arrow {
    position: absolute;
    right: 10px;
    top: 46px;
    width: 30px;
    height: 30px;
    background: url(../images/icon/nav-side-arrow.png) no-repeat center center;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    transition: ease 0.3s all;
}
.mega-menu-block .arrow {
    top: 29px;
}
.enumenu_ul .arrow.up {
    background: url(../images/icon/nav-down-arrow.png) no-repeat center center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);    
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* new added css */

.enumenu_ul ul li h4 {
    font-size: 18px;
    color: #d35b49;
    font-weight: normal;
    text-align: left;
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
}
.mega-menu-list {
    position: static !important;    
}
.enumenu_ul.desk ul li a span {
    margin-right: 9px;
    position: relative;
    bottom: 1px;
}
.mega-menu-list > ul {
    width: 1100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 365px;
    padding: 40px 20px 0 40px;
    text-align: left;
}
.enumenu_ul li.hover {
    background: #fff;
}
.enumenu_ul li.hover a{
    color: #7bb9b9;
}
.mega-menu-block {
    width: 31.1% !important;
    margin: 1% !important;    
    display: inline-block;
}
.mega-menu-block:nth-child(1) {
    margin-right: 75px !important;
}
.mega-menu-block:nth-child(2) {
    width: 25.1% !important;
    margin-right: 52px !important;
}
.mega-menu-block:nth-child(3) {
    width: 25.1% !important;
}
.enumenu_ul li.mega-menu-block ul {
    width: 100%;    
    display: block;
    padding: 0 !important;
    min-width: 100% !important;
}
.mega-menu-block ul li a {
    padding: 8px 10px 7px 1px !important;
    color: #888a8d !important;
}
.mega-menu-block ul li a:hover {
    background: transparent !important;
    color: #494a4c !important;
}
.mega-menu-block > a {
    font-size: 18px !important;
    color: #d35b49 !important;
    font-weight: normal;
    text-align: left;
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
}
.dropdown ul li:first-child a {
    font-size: 18px !important;
    color: #d35b49 !important;
    margin-bottom: 13px;
}



/*
.parallax{
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto 100%;
    float: left;
    overflow: hidden;
    padding: 126px 0 114px;
    position: relative;
    width: 100%;
}
*/


@media (max-width: 1199px) { 
    
.enumenu_ul li a {
    padding: 31px 12px ;
}

}

@media (max-width: 991px) { 

.enumenu_ul > li {
    padding: 33px 0;
}
.enumenu_ul li a {
    padding: 33px 7px;
    font-size: 14px;
}
    
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    
.mega-menu-list > ul {
    width: 100%;
    height: 395px;
}
.mega-menu-block:nth-child(1) {
    margin-right: 0 !important;
}
    
}


@media (max-width: 767px) {
    header {
        padding-top: 0;
    }
    .enumenu_ul {
        display: none
    }
    .mega-menu-block ul {
        display: none;
    }
    .menu-block {
        height: auto;
    }
    .menu-icon {
        display: block
    }
    .menu-icon.active {
        background: #fff;        
    }
    .services-detail a.pba-detail {
        border-bottom: 2px solid #d3d9da;
    }
    .enumenu_ul > li {
        display: block;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #d9dadb;
    }
    .enumenu_ul > li > a {
        display: block;
        text-align: center;
        padding: 35px 0;
        font-size: 36px;
        color: #a7a9ac;
    }
    .mega-menu-block > a {
        color: #a7a9ac !important;
    }
    .enumenu_ul {
        width: 100%;
        margin-top: 0;
        background: #fff;
        border-top: 1px solid #cdced0;
        overflow: auto;
        height: 620px;
    }
    .mega-menu-list {
        position: relative !important;
    }
    .enumenu_ul > li ul {
        background: #f5f5f6;
        padding: 25px 0;
    }
    .enumenu_ul > li ul a {
        text-align: center;
        display: block;
        text-align: center;
        color: #a7a9ac;
        padding: 19px 0;
        font-size: 32px !important;
    }
    /* Push Menu */
    body.menuslide_push {
        position: relative;
    }
    body.menuslide_push.slidemenuLeft {
        left: 0;
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
        -ms-transition: left 0.5s;
        -o-transition: left 0.5s;
    }
    body.menuslide_push.slidemenuRight {
        right: 0;
        transition: right 0.5s;
        -webkit-transition: right 0.5s;
        -moz-transition: right 0.5s;
        -ms-transition: right 0.5s;
        -o-transition: right 0.5s;
    }
    body.slidemenuRight .enumenu_ul {
        right: -300px;
    }
    body.slidemenuRight.menu-open .enumenu_ul {
        right: 0;
    }
    body.slidemenuLeft .enumenu_ul {
        left: -300px;
    }
    body.slidemenuLeft.menu-open .enumenu_ul {
        left: 0;
    }
    body.menuslide_push.slidemenuLeft.menu-open {
        left: 300px
    }
    body.menuslide_push.slidemenuRight.menu-open {
        right: 300px
    }
    body.menuslide_push .enumenu_ul,
    body.menuOverlap .enumenu_ul {
        background: #000000 none repeat scroll 0 0;
        display: block;
        height: 100%;
        max-height: 100%;
        width: 100%;
        overflow: auto;
        position: fixed;
        transition: all 0.5s ease 0s;
        max-width: 300px;
        top: 0;
    }
    
    .mega-menu-list > ul {
        width: 100%;
        padding: 0 0 0 0;
        height: auto;
    }
    .mega-menu-block {
        width: 100% !important;
    }
    .mega-menu-block:nth-child(1) {
        margin: 0 !important;
    }
    .mega-menu-block:nth-child(2) {
        width: 100% !important;
        margin: 0 !important;
    }
    .mega-menu-block:nth-child(3) {
        width: 100% !important;
        margin: 0 !important;
    }
    .mega-menu-block > a {
        margin-bottom: 0;
    }
    
    .dropdown ul li:first-child {
        display: none;
    }
    .enumenu_ul li.hover a {
        color: #a7a9ac;
    }
    .mega-menu-list > ul {
        background: #fcfdfd !important;
            padding: 10px 0 13px 0 !important;
    }
    .mega-menu-list ul > li {
        border-bottom: 1px solid #f0f1f2;
    }
    .mega-menu-list ul > li li {
        border-bottom: 0;
    }
    .mega-menu-block ul li a {
        padding: 19px 0 19px 0 !important;
    }
    .enumenu_ul li.mega-menu-block ul {
        padding: 18px 0 29px 0 !important;
    }
    .mega-menu-block ul li a span img, .dropdown ul li a span img {
        display: none;
    }
    .mega-menu-list ul > li:last-child {
        border-bottom: 0;
    }
    .enumenu_ul li.mega-menu-block > a  {
        font-size: 28px !important;
    }
    .mega-menu-block > ul > li a {
        font-size: 28px !important;
    }
    .mega-menu-list ul {
        border-top: 1px solid #ebebec;
    }
    li.dropdown > a, li.mega-menu-list > a{
        font-family: 'Noto Sans', sans-serif;
    }
    
}

@media (max-width: 680px) {

.menu-icon .menu-box {
    right: 50px;
    top: 18px;
    width: 46px;
}
.enumenu_ul > li > a {
    padding: 15px 0;
    font-size: 21px;
}
.enumenu_ul .arrow {
    top: 16px;
}
.enumenu_ul li.mega-menu-block > a {
    font-size: 19px !important;
}
.mega-menu-block > ul > li a {
    font-size: 18px !important;
    padding: 13px 0 13px 0 !important;
}
.mega-menu-list > ul {
    padding: 10px 0 10px 0 !important;
}
.enumenu_ul > li ul a {
    padding: 13px 0;
    font-size: 18px !important;
}

}

@media (max-width: 479px) {

.menu-icon .menu-box {
    right: 33px;
    top: 16px;
    width: 46px;
}
.menu-icon {
    padding: 37px 0;
}
    
    
}


#sticky{transition: all 0.4s;}
#sticky.fixed{position: fixed;top:0;}
#footer {
    height: 110px;
}
.slideDown{
    animation: slideDown 0.4s linear 0s;
    -webkit-animation: slideDown 0.4s linear 0s;
}
@keyframes slideDown{
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%)
    }
}
@-webkit-keyframes slideDown{
    0%{
        -webkit-transform: translateY(-100%)
    }
    100%{
        -webkit-transform: translateY(0%)
    }
}
.slideUp{
    animation: slideUp 0.4s linear 0s;
    -webkit-animation: slideUp 0.4s linear 0s;
}
@keyframes slideUp{
    0%{
        transform: translateY(0%)
    }
    100%{
        transform: translateY(-100%)
    }
}
@-webkit-keyframes slideUp{
    0%{
        -webkit-transform: translateY(0%)
    }
    100%{
        -webkit-transform: translateY(-100%)
    }
}

/* 1805*/
.header-part{
    transform: translateZ(0px);
}
.stickyHeader header #header-main .header-part{
    background: #ffffff none repeat scroll 0 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header-part.slideup { animation: stickyslideup 0.8s linear 0s; -webkit-animation: stickyslideup 0.8s linear 0s; }

@keyframes stickyslideup {
 0% {
transform: translateY(0%);
}
 30% {
transform: translateY(-100%);
}
 100% {
transform: translateY(0%);
}
}
@-webkit-keyframes stickyslideup {
 0% {
-webkit-transform: translateY(0%);
}
 30% {
-webkit-transform: translateY(-100%);
}
 100% {
-webkit-transform: translateY(0%);
}
}

@media screen and ( max-height: 480px ){
.enumenu_ul {
    height: 254px;
}
}

